.card {
  width: 18rem;
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  padding: 1.25em;
}

.nft-image {
  display: flex;
}

.nft-image img {
  width: 100%;
  border-radius: 5px;
}
.nft-image:hover {
  cursor: pointer;
  background: url("../images/icon-view.svg") no-repeat, hsl(178, 100%, 50%);
  background-position: center;
  border-radius: 5px;
}

.nft-image:hover img {
  opacity: 0.5;
}

.nft-details {
  padding: 1em 0;
}

.nft-name {
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  padding-bottom: 1rem;
  font-size: 1.125rem; /* 18px */
  margin: 0;
}

.nft-name:hover, .creator-name:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

.nft-description {
  font-weight: 400;
  color: hsl(215, 51%, 70%);
  padding-bottom: 1em;
  margin: 0;
}

.nft-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nft-info img {
  top: 3px;
  position: relative;
}

.nft-info li > p {
  display: inline;
  margin: 0 0 0 0.25rem;
}

.nft-info li:first-child {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.nft-info li:last-child {
  color: hsl(215, 51%, 70%);
}

.nft-creator-info {
  display: flex;
  align-items: center;
  padding: 1em 0;
  border-top: 1px solid hsl(215, 32%, 27%);
}

.nft-creator-info img {
  width: 10%;
  height: 10%;
  margin-right: 0.75em;
  border-radius: 5px;
}

.creator-name {
  color: hsl(215, 51%, 70%);
}

.nft-creator-info > span {
  color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 376px) {
  .nft-name {
    font-size: 1.625rem; /* 22px */
  }
}